<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Médecine predictive et préventive</title>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="static/css/back_office.css">

        {{ #if message }}
            <script defer>
                alert("{{ message }}");
            </script>
        {{ /if }}
    </head>
    <body>
        <main>
            {{ #each textes }}
                <section>
                    <h1>{{ @key }}</h1>
                    <hr>
                    <form action="">
                        <input value="{{ @key }}" name="page" hidden>
                        {{ #each this }}
                            <section>
                                <label>{{ @key }}</label>
                                <textarea name="{{ @key }}">{{ this }}</textarea>
                            </section>
                        {{ /each }}
                        <input type="submit" value="Valider">
                    </form>
                </section>
            {{ /each }}
        </main>
    </body>
</html>
